*{ /*set padding and margin for all elements to 0*/
    padding: 0;
    margin: 0;
} 
h1{
    text-align: center; /*center h1*/
    margin-top: 80px; /*add space before h1*/
    margin-bottom: 25px; /*add space after h1*/
    color: black; /*h1 color*/
}
h2{
    text-align: center; /*center h2*/
    margin-bottom: 20px; /*add space after h2*/
    margin-top:20px; /*add space before h2*/
    color: #6C0345; /*h2 color*/
}
body{
    background-color: Rgba(247, 197, 102,0.5); /*background color*/
    display: grid; /*CSS Grid layout*/
    padding:0px; /*no padding around the body*/
    grid-template-columns: 2fr 1fr; /* two columns*/
    grid-template-rows: auto auto auto auto auto; /*rows with auto height based on content*/
    grid-gap:20px; /*space between grid items*/
    grid-template-areas: 
         'header header'
         'main main'
         'main main'
         'main main'
         'main main'
         'footer footer'
    ;
    max-width: 2400px; /*maximum width for the layout*/
    margin: auto; /* center the layout */
    font-family: Tahoma; /*Tahoma Font*/
    color: black; /*black color for text*/
    
    
}
#header{
    grid-area: header; 
    background-color: rgb(244, 238, 238);
    background-image: url('kids.jpeg'); /*Image background*/
    background-size: cover; /* Image Cover the entire header*/
    background-position: center; /* Image Cover centered */
    filter: brightness(70%); /* reduce image brightness*/
}
#first{
    list-style-type: none; /* remove bullet points*/
    margin: 0;
    padding: 0;
    overflow: hidden; /* hide any overflow elements*/
    width: 100%; /* take entire width of the page */
    text-align: center; /* center text*/
    
}
.na{
    display: inline-block; /* elements set to each others*/
    background-color: #6C0345; /* background color*/
    border-radius: 10px; /* round corners*/
    margin:10px; /* margin between elements*/
    
}
.na a:hover{
    background-color: #F7C566; 
    border-radius: 10px; /* round corners*/
}
.na a{
    display: block; /* link as block */
    padding: 15px; /* padding for the link*/
    text-decoration: none; /* remove underline*/
    color: white;
}
#contact{
    grid-area: footer;
    background-color: rgb(244, 238, 238);
    text-align: center; /*  center text*/
    font-family: Tahoma;
}
#cli{
    display: inline; /*inline display */
}
#cul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex; /* flex box to adjust layout*/
    justify-content: center; /*  center list items*/
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
a{
    text-decoration: none; /* remove underline*/
    color:#6C0345;
    
}
#main{
    grid-area: main;
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto auto ;
    grid-gap:20px;
    grid-template-areas: 
    'm12 m15'
    'm13 m15'
    'm21 m15'
    'm14 m15'
    ;
}
#announcements{
    grid-area: m12;
    background-color: #FFF8DC;
    
    
}
#announcements > div {
    padding-left: 1rem; /* add left padding for announcement direct cildren of <P>*/
    padding-bottom: 1rem; /*  add bottom padding to seperate paragraphs*/
    
}
#schedule-table{
    grid-area: m13;
    background-color: #FFF8DC;
    text-align: center;   
}
table{
   width: 100%;
}
th{
    height: 35px; 
}
th, td{
    text-align: center;
    padding: 0.8rem;
}
table,th,td{
    border-bottom:  1px solid black; /* solid blacl border for bottome of cells*/
    border-collapse: collapse; /* single border */
}
tbody tr:nth-child(odd){
    background-color: white;
}
#resources{
    grid-area: m14;
    background-color: #FFF8DC;  
}
.re{
    display: flex;
    align-items: center;
}
#reul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display:flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 3rem;
}
.re a{
    text-decoration: none;
    color:black;
   
}
#teacher-info{
    grid-area: m15;
    background-color: #FFF8DC;
}
.info{
    padding: 20px;
    width: 80%;
    background-color: white ;
    margin: 20px auto; /* 20px bottom and top margin, left and right margins centerd in parent container*/
}
.info > p{
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#gallery{
    grid-area: m21;
    background-color: #FFF8DC; 
    padding: 20px; 
    text-align: center;
    display: grid; /* grid display*/
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: auto;
    gap: 10px; /* space between images*/
}
#gallery h2{
    grid-column: 1/-1;
}
.galleryPhoto {
    display: inline-block;
}
.galleryPhoto img {
    width: 150px; /* fixed width */
    height: 170px; /* fixed height */
    border: 10px solid black;
    border-radius: 4px;
}
@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            'header'
            'main'
            'footer';
    }
    #main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            'm12'
            'm13'
            'm21'
            'm14'
            'm15';
    }

    #gallary{
        grid-template-columns: 1fr;
    }

    
    
    #schedule-table th, #schedule-table td {
        
        font-size: 0.8rem;
    }
    .reul {
        display: flex;
        flex-direction: row;
        align-items: center;

        
    }
    #teacher-info .info {
        width: 90%;
    }
}

@media (max-width:464px) {
    #schedule-table th, #schedule-table td{
   font-size: 0.7rem;
   padding: 0.3rem;
}
    
}